@import url('StyleSheet-Lectures - Royal.min.css');

@font-face {
    font-family: 'texgyreadventor-regular';
    src: url("fonts/texgyreadventor-regular.otf") format("opentype");
}

@font-face {
    font-family: 'szlichta07';
    src: url('fonts/szlichta07.ttf') format('truetype');
}

@mixin radial-gradient($color1,$color2 ) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f7ea+0,e5aa02+100 */
    background: -moz-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, $color1 0%, $color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7ea', endColorstr='#e5aa02',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
    font-size: 14px;
    font-family: texgyreadventor-regular;


    #wrapper {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,cdcdcd+100 */
        background: rgb(242,242,242); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(205,205,205,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%,rgba(205,205,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(205,205,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cdcdcd',GradientType=1 ); /* IE6-9 */
        header {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            display: flex;
            padding-bottom: 8px;
            justify-content: flex-end;
            background-color: rgba(195,195,195,0.6);

            h1 {
                margin-left: 150px;
                margin-right: 50px;
                font-size: 2.5em;
                color: white;
                text-shadow: 0px 0px 4px #262B27;
            }
        }

        main {
            & > nav {
                background-image: url('../resources/element1.PNG');
                background-repeat: repeat-y;
                width: 150px;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2;

                & > ul {
                    margin-top: 200px;


                    & > li {
                        margin: 30px 0 30px 33px;
                        border-radius: 50%;
                        background-color: red;
                        padding: 12px; /*Size of balls*/
                        width: fit-content;
                        -webkit-box-shadow: inset 3px 3px 17px -1px rgba(0,0,0,0.75);
                        -moz-box-shadow: inset 3px 3px 17px -1px rgba(0,0,0,0.75);
                        box-shadow: inset 3px 3px 17px -1px rgba(0,0,0,0.75);


                        &:nth-child(1) {
                            background-color: saddlebrown;
                        }

                        &:nth-child(2) {
                            background-color: rgba(229,170,2,1);
                        }

                        &:nth-child(3) {
                            background-color: #a900b4;
                        }

                        &:nth-child(4) {
                            background-color: #50ac00;
                        }

                        &:nth-child(5) {
                            background-color: #017395;
                        }

                        &:nth-child(6) {
                            background-color: #c5bd99;
                        }

                        a {
                            display: none;
                        }

                        &:hover {
                            border: 3px solid white;
                            padding: 10px;
                            border-radius: 10px;

                            a {
                                display: block;
                                color: white;
                                text-decoration: none;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            #inner {
                margin-left: 155px;
                margin-top: 80px;
                margin-right: 5px;
                min-height: 600px;
                display: flex;
                -ms-flex-direction: column;
                -webkit-flex-direction: column;
                flex-direction: column;

                #carousel-container {
                    display: block;
                    width: 100%;
                    -webkit-box-shadow: 5px 27px 44px -4px rgba(0,0,0,0.75);
                    -moz-box-shadow: 5px 27px 44px -4px rgba(0,0,0,0.75);
                    box-shadow: 5px 27px 44px -4px rgba(0,0,0,0.75);

                    #myCarousel {
                        .carousel-inner > .item > img,
                        .carousel-inner > .item > a > img {
                            width: 500px;
                            height: 250px;
                            margin: 0 auto;
                        }

                        .carousel-caption {
                            width: 60%;
                            height: 20px;
                            margin: 0 auto;
                        }
                    }
                }

                #container {
                    width: 100%;
                    display: flex;
                    margin-top: 20px;
                    -ms-flex-direction: row;
                    -webkit-flex-direction: row;
                    flex-direction: row;
                    justify-content: space-around;

                    .exams {
                        width: 30%;

                        h3 {
                            margin: 0;
                            padding: 10px 20px;
                            text-align: center;
                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#752525+1,ff1414+6,ff1414+6,ff8e8e+20,ffd1d1+52,ff4447+82,ff1414+95,752525+100 */
                            background: rgb(117,37,37); /* Old browsers */
                            background: -moz-linear-gradient(top, rgba(117,37,37,1) 1%, rgba(255,20,20,1) 6%, rgba(255,20,20,1) 6%, rgba(255,142,142,1) 20%, rgba(255,209,209,1) 52%, rgba(255,68,71,1) 82%, rgba(255,20,20,1) 95%, rgba(117,37,37,1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top, rgba(117,37,37,1) 1%,rgba(255,20,20,1) 6%,rgba(255,20,20,1) 6%,rgba(255,142,142,1) 20%,rgba(255,209,209,1) 52%,rgba(255,68,71,1) 82%,rgba(255,20,20,1) 95%,rgba(117,37,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom, rgba(117,37,37,1) 1%,rgba(255,20,20,1) 6%,rgba(255,20,20,1) 6%,rgba(255,142,142,1) 20%,rgba(255,209,209,1) 52%,rgba(255,68,71,1) 82%,rgba(255,20,20,1) 95%,rgba(117,37,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#752525', endColorstr='#752525',GradientType=0 ); /* IE6-9 */
                            -webkit-box-shadow: -1px 13px 24px -1px rgba(0,0,0,0.75);
                            -moz-box-shadow: -1px 13px 24px -1px rgba(0,0,0,0.75);
                            box-shadow: -1px 13px 24px -1px rgba(0,0,0,0.75);
                        }

                        article {
                            padding: 10px;
                            background-color: rgba(255,68,71,0.1);
                            border: 1px solid grey;
                            border-top: none;
                            -webkit-box-shadow: 5px 27px 44px -4px rgba(0,0,0,0.75);
                            -moz-box-shadow: 5px 27px 44px -4px rgba(0,0,0,0.75);
                            box-shadow: 5px 27px 44px -4px rgba(0,0,0,0.75);
                            min-height: 400px;
                            font-style: italic;

                            p {
                                margin-top: 15px;

                                &::first-letter {
                                    margin-left: 20px;
                                }

                                span {
                                    font-weight: bolder;
                                    font-style: normal;
                                }
                            }
                        }
                    }
                }
            }
        }




        footer {
            width: 100%;
            position: relative;
            bottom: 0;
            text-align: center;
            font-size: 0.7em;

            p {
                margin: 0;
                margin-bottom: 2px;
                margin-top: 2px;
                opacity: 0.5;
            }
        }
    }
}


@media only screen and (max-width:970px) {
    body {
        font-size: 10px;

        #wrapper {
            main {
                & > nav {
                    width: 100px;
                }

                #inner {
                    margin-left: 105px;
                }
            }
        }
    }
}

@media only screen and (max-width:750px) {
    body {
        #wrapper {
            position: relative;

            header {
                justify-content: center;
            }

            main {
                #inner {
                    .article-field {
                        -ms-flex-direction: column;
                        -webkit-flex-direction: column;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        article {
                            order: 3;
                        }

                        & > img {
                            order: 1;
                            margin-top: 0;
                            margin-bottom: 10px;
                            border: 10px solid white;
                        }

                        .other-lectors {
                            order: 2;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:580px) {
    body {
        #wrapper {


            header {
                justify-content: center;
            }

            main {
                & > nav {
                    position: fixed;
                    width: 40px;

                    & > ul {
                        margin-top: 200px;


                        & > li {
                            margin: 30px 0 30px 25px;
                            border-radius: 50%;
                            background-color: red;
                            padding: 7px; /*Size of balls*/
                        }
                    }
                }

                #inner {
                    margin-left: 40px;

                    #container {
                        width: 100%;
                        display: flex;
                        margin-top: 20px;
                        -ms-flex-direction: column;
                        -webkit-flex-direction: column;
                        flex-direction: column;
                        justify-content: space-between;


                        .exams {
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
