@import url('StyleSheet-Lectures - Royal.min.css');

@font-face {
    font-family: 'texgyreadventor-regular';
    src: url("fonts/texgyreadventor-regular.otf") format("opentype");
}

@font-face {
    font-family: 'szlichta07';
    src: url('fonts/szlichta07.ttf') format('truetype');
}

@mixin radial-gradient($color1,$color2 ) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f7ea+0,e5aa02+100 */
    background: -moz-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, $color1 0%, $color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7ea', endColorstr='#e5aa02',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
    font-size: 14px;
    font-family: texgyreadventor-regular;


    #wrapper {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,cdcdcd+100 */
        background: rgb(242,242,242); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(205,205,205,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%,rgba(205,205,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(205,205,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cdcdcd',GradientType=1 ); /* IE6-9 */
        header {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            display: flex;
            padding-bottom: 8px;
            justify-content: flex-end;
            background-color: rgba(195,195,195,0.6);

            h1 {
                margin-left: 150px;
                margin-right: 50px;
                font-size: 2.5em;
                color: white;
                text-shadow: 0 0 4px #262B27;
            }
        }

        main {
            & > nav {
                background-image: url('../resources/element1.PNG');
                background-repeat: repeat-y;
                width: 150px;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2;

                & > ul {
                    margin-top: 200px;


                    & > li {
                        margin: 30px 0 30px 33px;
                        border-radius: 50%;
                        background-color: red;
                        padding: 12px; /*Size of balls*/
                        width: fit-content;
                        -webkit-box-shadow: inset 3px 3px 17px -1px rgba(0,0,0,0.75);
                        -moz-box-shadow: inset 3px 3px 17px -1px rgba(0,0,0,0.75);
                        box-shadow: inset 3px 3px 17px -1px rgba(0,0,0,0.75);


                        &:nth-child(1) {
                            background-color: saddlebrown;
                        }

                        &:nth-child(2) {
                            background-color: rgba(229,170,2,1);
                        }

                        &:nth-child(3) {
                            background-color: #a900b4;
                        }

                        &:nth-child(4) {
                            background-color: #50ac00;
                        }

                        &:nth-child(5) {
                            background-color: #017395;
                        }

                        &:nth-child(6) {
                            background-color: #c5bd99;
                        }

                        a {
                            display: none;
                        }

                        &:hover {
                            border: 3px solid white;
                            padding: 10px;
                            border-radius: 10px;

                            a {
                                display: block;
                                color: white;
                                text-decoration: none;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            #inner {
                margin-left: 155px;
                margin-top: 50px;
                min-height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;


                &::after {
                    content: "";
                    background-image: url('../resources/about-project-background.jpg');
                    opacity: 0.2;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    position: absolute;
                    z-index: 0;
                }


                .article-field {
                    width: 60%;
                    display: flex;
                    -ms-flex-direction: column;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    background-color: rgba(255,255,255,0.7);
                    line-height: 30px;
                    border-radius: 20px;
                    padding: 20px;
                    position: relative;
                    border: 1px solid #c72427;
                    z-index: 1;
                    -webkit-box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.75);

                    p {
                        font-style: italic;

                        &::first-letter {
                            margin-left: 40px;
                        }
                    }

                    h4 {
                        font-weight: bolder;
                        font-size: 1.2em;
                        margin-bottom: 10px;
                    }
                }
            }
        }


        footer {
            width: 100%;
            position: relative;
            bottom: 0;
            text-align: center;
            font-size: 0.7em;

            p {
                margin: 0;
                margin-bottom: 2px;
                margin-top: 2px;
                opacity: 0.5;
            }
        }
    }
}


@media only screen and (max-width:970px) {
    body {
        font-size: 10px;

        #wrapper {
            main {
                & > nav {
                    width: 100px;
                }

                #inner {
                    margin-left: 105px;
                }
            }
        }
    }
}

@media only screen and (max-width:750px) {
    body {
        #wrapper {
            position: relative;

            header {
                justify-content: center;
            }

            main {
                #inner {
                    .article-field {
                        -ms-flex-direction: column;
                        -webkit-flex-direction: column;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        article {
                            order: 3;
                        }

                        & > img {
                            order: 1;
                            margin-top: 0;
                            margin-bottom: 10px;
                            border: 10px solid white;
                        }

                        .other-lectors {
                            order: 2;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:580px) {
    body {
        #wrapper {


            header {
                justify-content: center;
            }

            main {
                & > nav {
                    position: fixed;
                    width: 40px;

                    & > ul {
                        margin-top: 200px;


                        & > li {
                            margin: 30px 0 30px 25px;
                            border-radius: 50%;
                            background-color: red;
                            padding: 7px; /*Size of balls*/
                        }
                    }
                }

                #inner {
                    margin-left: 40px;

                    .article-field {
                        -ms-flex-direction: column;
                        -webkit-flex-direction: column;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        article {
                            order: 3;
                        }

                        & > img {
                            order: 1;
                            margin-top: 0;
                            margin-bottom: 10px;
                            border: 10px solid white;
                        }

                        .other-lectors {
                            max-width: 100%;
                            order: 2;
                            border: none;

                            ul {
                                max-width: 100%;


                                li {
                                    border: 5px solid white;
                                    width: fit-content;
                                    margin: 20px 30px;
                                    border-radius: 100px;
                                    overflow: hidden;
                                    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.75);
                                    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.75);
                                    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.75);



                                    &:nth-child(2), &:nth-child(3) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
